<style type="text/css" media="screen">
    .gr_grid_container {
      /* customize grid container div here. eg: width: 500px; */
      text-align: center;
    }

    .gr_grid_book_container {
      /* customize book cover container div here */
      float: left;
      width: 108px;
      height: 160px;
      padding: 10px 10px;
      overflow: hidden;
    }
  </style>
  <br>
  <br>
  <div id="gr_grid_widget_1638725942">
    <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
        <h4>
  <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/richardmathewsii" target="_blank">The last ten books I have read</a>
</h4>
<div class="gr_grid_container">
<div class="gr_grid_book_container"><a title="The Start-Up of You: Adapt to the Future, Invest in Yourself, and Transform Your Career" rel="nofollow" href="https://www.goodreads.com/book/show/12030438-the-start-up-of-you" target="_blank"><img alt="The Start-Up of You: Adapt to the Future, Invest in Yourself, and Transform Your Career" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1328301968l/12030438._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The Data Detective: Ten Easy Rules to Make Sense of Statistics" rel="nofollow" href="https://www.goodreads.com/book/show/53605067-the-data-detective" target="_blank"><img alt="The Data Detective: Ten Easy Rules to Make Sense of Statistics" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1590733302l/53605067._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Naked Statistics: Stripping the Dread from the Data" rel="nofollow" href="https://www.goodreads.com/book/show/17986418-naked-statistics" target="_blank"><img alt="Naked Statistics: Stripping the Dread from the Data" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1395613778l/17986418._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The Signal and the Noise: Why So Many Predictions Fail—But Some Don't" rel="nofollow" href="https://www.goodreads.com/book/show/13588394-the-signal-and-the-noise" target="_blank"><img alt="The Signal and the Noise: Why So Many Predictions Fail—But Some Don't" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1355058876l/13588394._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="How Not to Be Wrong: The Power of Mathematical Thinking" rel="nofollow" href="https://www.goodreads.com/book/show/18693884-how-not-to-be-wrong" target="_blank"><img alt="How Not to Be Wrong: The Power of Mathematical Thinking" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1387726285l/18693884._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="So Good They Can't Ignore You: Why Skills Trump Passion in the Quest for Work You Love" rel="nofollow" href="https://www.goodreads.com/book/show/13525945-so-good-they-can-t-ignore-you" target="_blank"><img alt="So Good They Can't Ignore You: Why Skills Trump Passion in the Quest for Work You Love" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1360564614l/13525945._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Atomic Habits: An Easy & Proven Way to Build Good Habits & Break Bad Ones" rel="nofollow" href="https://www.goodreads.com/book/show/40121378-atomic-habits" target="_blank"><img alt="Atomic Habits: An Easy & Proven Way to Build Good Habits & Break Bad Ones" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1535115320l/40121378._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The 4-Hour Workweek" rel="nofollow" href="https://www.goodreads.com/book/show/368593.The_4_Hour_Workweek" target="_blank"><img alt="The 4-Hour Workweek" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1442957271l/368593._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Animal Farm" rel="nofollow" href="https://www.goodreads.com/book/show/170448.Animal_Farm" target="_blank"><img alt="Animal Farm" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1325861570l/170448._SY160_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Choose FI: Your Blueprint to Financial Independence" rel="nofollow" href="https://www.goodreads.com/book/show/45182635-choose-fi" target="_blank"><img alt="Choose FI: Your Blueprint to Financial Independence" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1555781850l/45182635._SX98_.jpg" /></a></div>
<br style="clear: both"/><br/><a style="font-size: .9em; color: #919494; text-decoration: none; float: right; clear: both" rel="nofollow" href="https://www.goodreads.com/richardmathewsii" target="_blank">Follow me on Goodreads! »</a>
<noscript><br/>Share <a rel="nofollow" href="/">book reviews</a> and ratings with Richard, and even join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
</div>