<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s" style="font-size:22px;">{{ site.landing_bio }}</p>
    <p class="text-muted wow animated slideInUp" data-wow-delay=".3s" style="font-size:15px;">Check out my <a href="https://richardmathewsii.com/about/"> About</a> page to learn more about my professional and personal relationships with data.</p>

  </div>
</div>